<footer class="w-full bg-red-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- Grid -->
        <div class="grid grid-cols-2 gap-8 py-10 sm:grid-cols-4 lg:grid-cols-6">
            <!-- Branding and Contact -->
            <div class="col-span-full mb-10 lg:col-span-2 lg:mb-0">
              
                <p class="py-4 mb-6 text-center text-sm text-red-700 lg:max-w-xs lg:text-left">
                    Trusted in more than 30 districts & 5 million customers. Have any query?
                </p>
                <a href="javascript:/contact;"
                   class="mt-6 mx-auto block h-9 w-fit rounded-full bg-red-600 px-5 py-2.5 text-xs text-white shadow-sm transition-all duration-500 hover:bg-red-500 lg:mx-0">
                    Contact us
                </a>
            </div>

            <!-- Footer Columns -->
            <div class="text-left">
                <h4 class="mb-4 text-lg font-medium text-red-900">ScamSentinel</h4>
                <ul class="space-y-2 text-sm">
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Home</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">About</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Pricing</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Features</a></li>
                </ul>
            </div>

            <div class="text-left">
                <h4 class="mb-4 text-lg font-medium text-red-900">News</h4>
                <ul class="space-y-2 text-sm">
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Figma UI System</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Icons Assets</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Responsive Blocks</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Components Library</a></li>
                </ul>
            </div>

            <div class="text-left">
                <h4 class="mb-4 text-lg font-medium text-red-900">Resources</h4>
                <ul class="space-y-2 text-sm">
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">FAQs</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Quick Start</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Documentation</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">User Guide</a></li>
                </ul>
            </div>

            <div class="text-left">
                <h4 class="mb-4 text-lg font-medium text-red-900">Blogs</h4>
                <ul class="space-y-2 text-sm">
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">News</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Tips & Tricks</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">New Updates</a></li>
                    <li><a href="javascript:;" class="text-red-700 hover:text-red-900">Events</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="border-t border-red-200 py-6">
            <div class="flex flex-col items-center justify-between space-y-4 sm:flex-row">
                <span class="text-sm text-red-700">
                    ©<a href="/" class="hover:underline">ScamSentinel</a> 2025, All rights reserved.
                </span>
                <div class="flex space-x-4">
                    <a href="javascript:;" class="flex h-9 w-9 items-center justify-center rounded-full bg-red-700 hover:bg-red-600">
                        <div class="mb-2 text-4xl text-white">
                            ⓕ
                        </div>
                    </a>
                    <a href="javascript:;" class="flex h-9 w-9 items-center justify-center rounded-full bg-red-700 hover:bg-red-600">
                        <div class="mb-2 text-4xl text-white">
                            ✆
                        </div>
                    </a>
                    <a href="javascript:;" class="flex h-9 w-9 items-center justify-center rounded-full bg-red-700 hover:bg-red-600">
                        <div class="mb-2 text-4xl text-white">
                            𝕏
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
