<header class="fixed inset-x-0 bottom-0 z-50 mb-5 bg-red-200">
    <nav  class="flex items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 flex items-center gap-x-3 p-1.5">
                <img src="/Assets/logo.png" alt="" class="h-8 w-auto" />
                <span class="ml-2 text-lg font-semibold text-red-900">Scam Sentinel</span>
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-red-800">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm/6 font-semibold text-red-900 hover:bg-red-50">Post_Scam</a>
            <a href="#" class="text-sm/6 font-semibold text-red-900 hover:bg-red-50">All_Scams</a>
            <a href="#" class="text-sm/6 font-semibold text-red-900 hover:bg-red-50">Help & Info</a>
            <a href="#" class="text-sm/6 font-semibold text-red-900"></a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            @if (Context.Request.Cookies["access_token"] != null)
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="text-sm font-semibold text-red-900 hover:bg-red-50">
                        Logout <span aria-hidden="true">&rarr;</span>
                    </button>
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="text-sm font-semibold text-red-900 hover:bg-red-50">
                    Log in 
                </a>
                <a asp-controller="Account" asp-action="Register" class="ml-100 text-sm font-semibold text-red-900 hover:bg-red-50">
                    Register 
                </a>

            }
        </div>
    </nav>
    <el-dialog>
        <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline-none">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-red-200 p-6 sm:max-w-sm sm:ring-1 sm:ring-red-100/10">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Your Company</span>
                            <img src="/Assets/logo.png" alt="" class="h-8 w-auto" />
                        </a>
                        <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-red-800">
                            <span class="sr-only">Close menu</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-red-100/10">
                            <div class="space-y-2 py-6">
                                <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-red-900 hover:bg-red-50">Product</a>
                                <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-red-900 hover:bg-red-50">Features</a>
                                <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-red-900 hover:bg-red-50">Marketplace</a>
                                <a href="#" class="text-base/7 -mx-3 block rounded-lg px-3 py-2 font-semibold text-red-900 hover:bg-red-50">Company</a>
                            </div>
                            <div class="py-6">
                                @if (Context.Request.Cookies["access_token"] != null)
                                {
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="w-full rounded-lg px-3 py-2.5 text-left text-base font-semibold text-red-900 hover:bg-red-50">
                                            Logout
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-red-900 hover:bg-red-50">
                                        Log in
                                    </a>
                                    <a asp-controller="Account" asp-action="Register" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-red-900 hover:bg-red-50" ">
                                        Register 
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>